@font-face {
    font-family: 'Poppins';
    src:url('../fonts/Poppinslight.woff2') format('woff2'),
        url('../fonts/Poppinslight.woff') format('woff'),
        url('../fonts/Poppinslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:url('../fonts/Poppinsregular.woff2') format('woff2'),
        url('../fonts/Poppinsregular.woff') format('woff'),
        url('../fonts/Poppinsregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:url('../fonts/Poppinspoppins-semiboldmedium.woff2') format('woff2'),
        url('../fonts/Poppinspoppins-semiboldmedium.woff') format('woff'),
        url('../fonts/Poppinspoppins-semiboldmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src:url('../fonts/Poppinspoppins-boldsemibold.woff2') format('woff2'),
        url('../fonts/Poppinspoppins-boldsemibold.woff') format('woff'),
        url('../fonts/Poppinspoppins-boldsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}