body {
    background: #171717;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 26px;
    color: #ffffff;
}

.container {
    width: 100%;
    max-width: 1595px;
    margin-left: auto;
}

.title {
    font-weight: 600;
    font-size: 40px;
}

/* SideBar */

.sidebar {
    position: fixed;
    width: 270px;
    padding: 35px;
    border-right: 1px solid #242424;
    height: 100%;
    max-height: 1080px;
}

.sidebar img {
    margin-bottom: 213.5px;
}

.sidebar__progress {
    margin-bottom: 247px;

}

.sidebar__progress--text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 52px;
    font-size: 24px;
    font-weight: 500;
}

.sidebar__progress--text::after {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    background: #444444;
    border-radius: 50px;
}

.sidebar__progress--text.active::after {
    background: #DA0037;
}

.sidebar__contacts {
    margin-left: -10px;
    width: 220px;
    border-top: 1px solid #fff;
    padding-top: 38px;
}

.sidebar__contacts a {
    font-size: 18px;
}

.sidebar__contacts--link {
    display: flex;
    align-items: center;
    margin: 0 0 30px 9px;
}

.sidebar__contacts--link svg {
    display: block;
    margin-right: 20px;
}

/* Intro */

.intro {
    height: 100vh;
    max-height: 1080px;
    position: relative;
    padding-top: 72px;
}

.intro__car {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
}

.intro__car img {
    position: absolute;
    top: 190px;
    right: 56px;
}

.intro_rect--bg {
    position: absolute;
    background: linear-gradient(180.02deg, rgba(23, 23, 23, 0) 0.02%, rgba(23, 23, 23, 0.98) 99.98%);
    right: 0;
    z-index: 0;
    height: 100vh;
    width: 825px;
}

.intro_rect {
    position: absolute;
    right: 252px;
    background: #DA0037;
    width: 322px;
    height: 100%;
    transform: skew(155deg);
}

.intro__title {
    font-weight: 600;
    font-size: 71px;
}

.intro__subtitle {
    width: 100%;
    max-width: 773px;
    margin: 32px 0 84px 0;
    font-weight: 400;
    font-size: 26px;
    line-height: 37px;
}

.intro__contacts svg {
    margin-right: 26px;
}

.intro__contacts--address {
    display: flex;
    align-items: center;
    font-size: 22px;
}


.intro__contacts--phones {
    display: flex;
    margin: 41px 0 121px 0;
}

.intro__contacts--numbers span {
    display: block;
    margin-bottom: 17px;
    font-size: 23px;
}

.intro__stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1538px;
    padding: 76px 75px 73px 73px;
    background: #282828;
    border-radius: 2px;
}

.intro__stats--item {
    margin-top: 10px;
}

.intro__stats--title {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 38px;
}

.intro__stats--nums {
    margin-left: -27px;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: #EE204D;
}

.products__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
    margin-top: 65px;
}

.products__title--text {
    font-weight: 600;
    font-size: 40px;
}

.products__title--link {
    font-size: 32px;
    text-decoration-line: underline;
    color: #EE204D;
}

.products__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1384px;
    margin-left: 68px;
    margin-top: 67px;
    margin-bottom: -8px;
}

.products__card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background: #282828;
    border-radius: 4px;
    width: 100%;
    max-width: 310px;
    height: 360px;
    margin-bottom: 48px;
}

.products__card--img img {
    display: block;
}

.products__card--text {
    padding: 0 0px 27px 0px;
    width: 100%;
    max-width: 270px;

}

.products__card--title {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    margin: 13px 0 22px 0;
}

.products__card__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.products__card__price--text {
    position: relative;
    z-index: 1;
    font-size: 22px;
}

.products__card__price--text.sale {
    margin-left: 25px;
}

.products__card__price--text.sale::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -5px;
    left: -15px;
    transform: skew(143deg);
    width: 84px;
    height: 30px;
    background: #DA0037;
}

.products__card__price--text.sale::after {
    content: "14,99$";
    font-size: 16px;
    margin-left: 29px;
    text-decoration-line: line-through;

}

.products__card__price--link {
    font-size: 20px;
    text-decoration: underline;
    color: #EE204D;
}

.slider__buttons {
    width: 100%;
    max-width: 400px;
    display: flex;
    gap: 28px;
    margin: 0 auto 37px auto;
}

.slider__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #EE204D;
    border-radius: 2px;
}

.slider__button.prev {
    justify-content: center;
    width: 62px;
    height: 62px;
}

.slider__button.next {
    width: 227px;
    height: 62px;
    padding: 11px 16px 12px 24px;
    font-weight: 600;
    font-size: 26px;
}

.slider__button.next img {
    display: inline-block;
}

/* Services */
.title.serv {
    font-weight: 400;
    margin-top: 108px;
}

.services__items {
    margin-top: 93px;
}

.services__item {
    position: relative;
    display: flex;
    z-index: 1;
    gap: 40px;
    margin-bottom: 86px;
}

.services__item::before {
    content: "";
    display: block;
    position: absolute;
    top: -26px;
    left: -43px;
    z-index: -1;
    width: 1302px;
    height: 200px;
    background: #282828;
    transform: skew(158deg);
}

.services__item.painting {
    margin-left: 242px;
}

.services__item.tinting {
    margin-left: 162px;
}

.services__item.modernization {
    margin-left: 84px;
}

.services__item--title {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: #EE204D;
}

.services__item--text {
    width: 100%;
    max-width: 1010px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 15px;
}

.services__button {
    border: 2px solid #EE204D;
    border-radius: 2px;
    width: 460px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 26px;
    text-transform: uppercase;
    margin: 0 0 47px 539px;
}

.services__decs {
    text-align: center;
    margin: 92px 61px 31px 0;
    font-size: 20px;
    line-height: 30px;
}

/* Gallery */

.gallery {}

.title.gallery {
    margin-top: 132px;
}

.gallery__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 143px 0 67px;
    margin: 67px 0 251px 0;
}

.gallery__item {
    margin-bottom: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    width: 100%;
    max-width: 440px;
    height: 293px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.69%, #000000 96.66%);
}

.gallery__item:hover {
    background: rgba(0, 0, 0, 0.8);
    transition: .0s all ease;
}

.gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.gallery__item--title {
    font-weight: 500;
    font-size: 20px;
}

.gallery__item:hover .gallery__item--title {
    margin-bottom: 173px;
    transition: .4s margin ease;
}

.gallery__item--decsr {
    font-weight: 300;
    font-size: 12px;
    margin: 7px 0 11px 
}

.gallery__item:hover .gallery__item--decsr {
    display: none;
}

.gallery__item__list {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 54%;
    transform: translateX(-50%);
    width: 316px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.gallery__item:hover .gallery__item__list {
    top: 127px;
    opacity: 1;
    transition: 1s opacity ease;
}

.gallery__item__list--item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.gallery__item__list--item::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #ffffff;
    border-radius: 10px;
    margin-right: 7px;
}